# 1. Data exploration

In [180]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from itertools import combinations_with_replacement

In [181]:
names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'car_name']

In [182]:
data = pd.read_csv('auto-mpg.data', sep='\s+',header=None, names = names, na_values = ['?'])
# Data exploration
data.head()
# types of the attributes or features
data.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight          float64
acceleration    float64
model_year        int64
origin            int64
car_name         object
dtype: object

In [183]:
# missing value
data.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

Summary of data exploration: 
The file is csv format with Comma-Separated Values. 
There is no index for each column, therefore during the data import, the data was manually labelled based on the description in name file. 
For all attirbutes, cylinders, model year, origin are integer format, car name is character format, while the rest are float format.
There are some missing values in the attibute horsepower.

# 2. Data preparation

(1)Compute statistics for the attributes

In [184]:
data.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

(2)Decide on an imputation strategy for missing or incorrect data. Document your reasons.
To decide how to handle missing data, it is helpful to know why they are missing. Based on the raw data, it seems that the data was missing randomly. Therefore, I decide to impute the missing value with mean.
So if the data are missing completely at random, the estimate of the mean remains unbiased. Plus, by imputing the mean, you are able to keep your sample size up to the full sample size.

In [185]:
# (3)Apply your imputation strategy.
# fill missing values with mean column values
data.fillna(data.mean(), inplace=True)
# count the number of NaN values in each column
print(data.isnull().sum())
data.describe()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.199187,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,76.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,95.000000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,125.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

# 3.Implement the algorithm
# Linear regression

In [186]:
def MSE(w,x,y):
    r = x.dot(w)-y    
    return r.dot(r)/len(x)

def LM(X,Y):
    pos_inv = np.linalg.pinv(X)
    w = np.dot(pos_inv,Y)
    return w

In [187]:
# Target - Features Split
y = np.array(data['mpg'])
X = np.array(data.drop(['mpg','car_name'], axis=1))
# Train - Test -Val Split
from sklearn.model_selection import train_test_split
# First to split to train, test and then split train again into validation and train. Something like this:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)


# add one as the first column
def add_one(x):
    one = np.ones([x.shape[0],1])
    x = np.concatenate((one,x),axis=1)
    return x

In [188]:
mse = []
for i in range(0,50): 
    X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2)
    X_train = add_one(X_train)
    lm_train = LM(X_train, y_train)
    mse_train = MSE(lm_train, X_train, y_train)
    X_val = add_one(X_val)
    mse_val = MSE(lm_train, X_val, y_val)
    mse.append([mse_train,mse_val])
mse_df = pd.DataFrame(mse,columns=['train_mse','validate_mse'])
mse_df

    train_mse  validate_mse
0   10.760995      9.664692
1   10.836678     11.529802
2   11.590759      9.191564
3   11.842961      9.293189
4   10.003886     11.079167
5   10.845958     10.545552
6    9.890278     12.851240
7   10.932236     10.247759
8   11.532476     11.388473
9   12.681847      7.098777
10  10.447143     10.954559
11  11.055680     11.862560
12  10.775613     11.977912
13  10.329784     10.012554
14  11.074651     11.133776
15  11.267403      9.360036
16  11.219042     10.594819
17  10.984319     10.810181
18  10.183854      9.799549
19  10.574822      9.168857
20  10.565298     10.070024
21  12.356326     10.264421
22  11.003764     12.117098
23  10.937728     11.174798
24  10.458033      7.688752
25  11.033434     10.940998
26  12.812316      5.571100
27  11.844639      9.795639
28   9.770930     12.398773
29  11.245915     11.015765
30   9.136396     11.260772
31  11.128134      7.612943
32   9.415184     15.030463
33  10.744390      9.792640
34  11.194982      9.679823
35  10.363351     16.909700
36  10.618640     11.008227
37  12.157408      8.891371
38  11.218554     11.727931
39  11.469967     10.097704
40  10.951546      9.852768
41  12.054451      6.901664
42  10.243137     12.805102
43  11.374717     11.769075
44  11.016330      8.448740
45  10.828939     10.889826
46   9.446902     13.658557
47   9.942807     13.604723
48   8.542765     16.512599
49  10.681653     14.632907

In [189]:
mse_df.mean()

train_mse       10.867780
validate_mse    10.813798
dtype: float64

In [190]:
# Standardization
from sklearn import preprocessing
# Target - Features Split
y = np.array(data['mpg'])
X = np.array(data.drop(['mpg','car_name'], axis=1))

def std(x):
    scaler_X = preprocessing.StandardScaler().fit(x)
    x = scaler_X.transform(x)
    return x


mse_sd = []
for i in range(0,50):
    
    X_train_scaled, X_val_scaled, y_train, y_val = train_test_split(X_train_scaled, y_train, test_size=0.2)
    
    X_train_scaled = std(X_train_scaled)
    X_val_scaled = std(X_val_scaled)
    
    X_train_scaled = add_one(X_train_scaled)
    X_val_scaled = add_one(X_val_scaled)
    
    lm_train_scaled = LM(X_train_scaled, y_train)
    mse_train_scaled = MSE(lm_train_scaled, X_train_scaled, y_train)

    mse_val_scaled = MSE(lm_train_scaled, X_val_scaled, y_val)
    mse_sd.append([mse_train_scaled,mse_val_scaled])

mse_df_scaled = pd.DataFrame(mse_sd,columns=['train_mse_sd','validate_mse_sd'])
mse_df_scaled

    train_mse_sd  validate_mse_sd
0      11.595955         9.528530
1      11.386766        12.609603
2      10.381879        14.067887
3      11.234818        12.283615
4      10.666890        12.325009
5      10.240795         9.926701
6      11.669532        12.402205
7       9.918309        11.502430
8      11.305072        13.276162
9       9.459656        12.770277
10     10.005045        14.207988
11     11.269180        14.735956
12     10.556563        11.357518
13     11.453851         9.488606
14     10.814125        11.311815
15     10.797355        13.053563
16     10.532247        12.679471
17     11.711515        10.672517
18      9.070930        12.147583
19     10.142423        15.433023
20     12.019478        12.632758
21     10.406570        12.263194
22      9.890321        12.495470
23     11.465854        12.218770
24      9.760296        16.100973
25     10.857483        10.266845
26     11.355589        11.970674
27     10.718501        11.868044
28     11.206336        12.145329
29     11.432117        12.840509
30     11.613769         9.881542
31      9.468833        13.441270
32     11.250137        14.830257
33     10.827159        11.720595
34     10.063555        12.411692
35     11.362386         9.641123
36     10.938004         9.388482
37     10.750802        13.395523
38     11.722003         8.213868
39     10.697260        15.430163
40     12.213088        10.764009
41     10.281993        14.168001
42     10.024828        10.699475
43     11.633933        10.056992
44      9.970920        15.123329
45     10.247379         8.883287
46     11.065412        13.896837
47     10.775390        11.725835
48     10.309463        13.842709
49     10.770551        14.420635

In [191]:
mse_df_scaled.mean()

train_mse_sd       10.786246
validate_mse_sd    12.250373
dtype: float64

# For multivariate polynomial regression

In [192]:
# For non-standarized
def icom(features_number,degree):
    x = [combinations_with_replacement(range(features_number), i) for i in range(0, degree + 1)]
    y = [item for sublist in x for item in sublist]
    return y

def polynomial(X, degree):
    sample_number, features_number = np.shape(X)
        
    join = icom(features_number,degree)
    output_features_number = len(join)
    X1 = np.empty((sample_number, output_features_number))

    for i, x in enumerate(join):  
        X1[:, i] = np.prod(X[:, x], axis=1)
        
    return X1   

def pm(X, Y, degree):
    X1 = polynomial(X, degree)
    pinv = np.linalg.pinv(X1)
    w = pinv.dot(Y)
    return w

In [193]:
# Non-Standardization
from sklearn import preprocessing
# Target - Features Split
y = np.array(data['mpg'])
X = np.array(data.drop(['mpg','car_name'], axis=1))

for n in range(2,5):
    mse = []
    for i in range(0,50):
        X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2)

        p_train = polynomial(X_train,n)
        p_val = polynomial(X_val,n)

        lm_train = pm(X_train, y_train,n)
        mse_train = MSE(lm_train, p_train, y_train)

        mse_val = MSE(lm_train, p_val, y_val)
        mse.append([mse_train,mse_val])

    mse_df = pd.DataFrame(mse,columns=['train_mse_sd','validate_mse_sd'])
    print('Degree:' + str(n))
    print(mse_df.mean())

Degree:2
train_mse_sd       5.992630
validate_mse_sd    8.950448
dtype: float64
Degree:3
train_mse_sd         2.733728
validate_mse_sd    557.668057
dtype: float64
Degree:4
train_mse_sd           0.299780
validate_mse_sd    64820.940885
dtype: float64

In [194]:
# Standardization
from sklearn import preprocessing
# Target - Features Split
y = np.array(data['mpg'])
X = np.array(data.drop(['mpg','car_name'], axis=1))

def std(x):
    scaler_X = preprocessing.StandardScaler().fit(x)
    x = scaler_X.transform(x)
    return x

for n in range(2,5):
    mse_sd = []
    for i in range(0,50):
        X_train_scaled, X_val_scaled, y_train, y_val = train_test_split(X_train_scaled, y_train, test_size=0.2)

        X_train_scaled = std(X_train_scaled)
        X_val_scaled = std(X_val_scaled)

        p_train = polynomial(X_train_scaled,n)
        p_val = polynomial(X_val_scaled,n)

        lm_train_scaled = pm(X_train_scaled, y_train,n)
        mse_train_scaled = MSE(lm_train_scaled, p_train, y_train)

        mse_val_scaled = MSE(lm_train_scaled, p_val, y_val)
        mse_sd.append([mse_train_scaled,mse_val_scaled])

    mse_df_scaled = pd.DataFrame(mse_sd,columns=['train_mse_sd','validate_mse_sd'])
    print('Degree:' + str(n))
    print(mse_df_scaled.mean())

Degree:2
train_mse_sd        5.934793
validate_mse_sd    10.553271
dtype: float64
Degree:3
train_mse_sd           2.593703
validate_mse_sd    12693.441631
dtype: float64
Degree:4
train_mse_sd       3.063166e-22
validate_mse_sd    2.897886e+04
dtype: float64

In [196]:
# Finally, use test data to test the best model
pm_test = pm(X_test, y_test,2)
pm_test

array([-1.26814331e+03, -5.23830522e+01, -1.08694893e-01,  8.91736182e-01,
        1.65783574e-01, -4.19138756e+00,  3.19967467e+01, -8.14654579e-01,
        6.71002061e+00, -2.81495949e-01, -1.69554729e-01,  6.15205407e-03,
       -2.39741408e-01,  4.83961742e-01,  1.08710214e+00,  2.98216262e-03,
        3.33309283e-04,  3.10571694e-05, -2.46011896e-02,  7.62223315e-03,
        1.60979215e-01, -1.53724754e-02,  1.17733382e-03, -1.62306079e-01,
        2.77470700e-02,  1.17966451e-01, -3.17800335e-05,  6.34097935e-03,
       -3.05001564e-03, -1.33598655e-02, -7.78678222e-01,  4.36393776e-01,
        4.01584196e-01, -2.47225746e-01, -4.31034969e-02, -1.07538636e+00])